.header {
    height:calc(50px + 2rem);
}

.hdr {
    position: absolute;
    width: 100%;
    z-index: 500;
}

.side-navbar {
    margin-right: 0;
}

.side-navbar .dropright > a {
    border-radius: 0;
}

.side-navbar .dropright > a::after {
    float: right;
    margin-top: .5rem;
}

.side-navbar .dropright .dropdown-item span {
    margin-left: 0.5rem;
}

.side-navbar .dropdown-menu > a {
    border-bottom: 1px solid rgba(0,0,0,.125);
    padding: 10px 0 10px 0;
    border-radius: 0;
}

.side-navbar .dropdown-menu {
    padding-top: 0;
    padding-bottom: 0;
}

.side-navbar .prod-cards .card {
    border: none;
}

.side-navbar .dropdown-menu > a:last-child {
    border-bottom: none;
}

.side-navbar .about .lead {
    font-size: 1rem;
}

.side-navbar .line {
    background-color: rgba(0,0,0,.125);
}

.side-navbar .footer i {
    font-size: 2rem;
    color: #6c757d;
    -webkit-transition: color 0.3s;
    -moz-transition: color 0.3s;
    -ms-transition: color 0.3s;
    -o-transition: color 0.3s;
    transition: color 0.3s;
    margin: 0;
}

.side-navbar .footer .fa-twitter-square:hover {
    color: #55acee;
}

.side-navbar .footer .fa-facebook:hover {
    color: #3b5998;
}
.side-navbar .footer .fa-vk:hover:hover {
    color: #3b5998;
}
.side-navbar .footer .fa-youtube:hover {
    color: #dd4b39;
}
.side-navbar .footer .fa-instagram:hover {
    color: #0976b4;
}